/* DriversManagement.css */

/* Reiniciar estilos básicos */
@import "leaflet/dist/leaflet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drivers-management-body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("Images/Mecanicos-certificados-en-nuestras-marcas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  background-attachment: fixed;
}

.drivers-management-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  gap: 0vh;
}

.drivers-management-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.drivers-title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 25px;
  color: #f5f5f5;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.drivers-management-container form input,
.drivers-management-container form select {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.drivers-search-input:focus {
  border-color: #ff4500;
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.5);
}

.filter-container {
  flex-direction: column;
  min-width: 300px;
  position: sticky;
  top: 70px; /* Distancia desde la parte superior */
  left: 10vh; /* Distancia desde la derecha */
}

.add-button {
  padding: 12px 25px;
  background-color: #e23d9d;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s;
}

.add-button:hover {
  background-color: #ed61ff;
  transform: translateY(-2px);
}

.btn-cancelar-conductores {
  background-color: grey;
}
.btn-cancelar-conductores:hover {
  background-color: darkgray;
}
.btn-cancelar-conductores:disabled {
  background-color: #cccccc00;
  color: #cccccc00;
  cursor: default;
}

.drivers-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  margin-left: 20px;
}

.drivers-card {
  background-color: #f38dc8be;
  padding: 20px;
  border: 1px solid f38dc8;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.drivers-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.drivers-card p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 1rem;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .drivers-management-container {
    flex-direction: column;
    padding: 15px;
    margin-top: 60px;
    max-width: 90%; /* Para que se ajuste mejor en móviles */
    gap: 10px;
    align-items: center; /* Para que se ajuste mejor en móviles */
  }

  .drivers-list {
    padding-top: 20px;
  }

  .drivers-title {
    font-size: 1.8rem;
  }

  .drivers-search-input {
    width: 100%; /* Input de búsqueda a lo ancho del contenedor */
  }

  .add-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .drivers-card {
    font-size: 0.9rem;
    max-width: 100%;
  }

  .drivers-card p {
    font-size: 0.85rem;
  }

  .search-container {
    flex-direction: column; /* Cambiamos el layout a columna en móviles */
    gap: 10px; /* Reducimos el gap entre los inputs */
  }

  .filter-container {
    flex-direction: column;
    min-width: 300px;
    position: initial;
    top: 70px; /* Distancia desde la parte superior */
    left: 10vh; /* Distancia desde la derecha */
  }
}

/* Estilos responsive para pantallas muy pequeñas */
@media (max-width: 480px) {
  .drivers-title {
    font-size: 1.5rem;
  }

  .drivers-card {
    padding: 15px;
    font-size: 0.85rem;
  }

  .add-button {
    padding: 8px 15px;
    font-size: 0.8rem;
  }
}
