/* Contenedor principal */
.mechanic-aid-request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f983;
    margin-top: 65px;
    width: 740px;
}

.mechanic-aid-request-container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

/* Lista de tarjetas */
.aid-requests-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

/* Tarjeta individual */
.aid-request-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
}

/* Información de la tarjeta */
.card-info {
    margin-bottom: 15px;
}

.card-info h2 {
    font-size: 1.2rem;
    color: #ff006a;
    margin: 0 0 10px;
}

.card-info p {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
}

/* Foto de la tarjeta */
.card-photo img {
    width: 250px;
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

/* Botón Aceptar */
.accept-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.accept-button:hover {
    background-color: #218838;
}

.accept-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsive */
@media (min-width: 768px) {
    .aid-requests-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    .aid-request-card {
        width: calc(50% - 10px); /* Para mostrar dos tarjetas por fila en pantallas medianas */
    }


}

@media (min-width: 1024px) {
    .aid-request-card {
        width: 330px
    }
    
}
