/* Reset de estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#routes-verify-container {
  margin-top: 65px;
  max-width: 100%;
  height: auto;

}

#routes-card-list {
  display:flex;
  max-width: auto;
  height: auto;
}

/* RoutesVerify.css */
.routes-verify-container {
  padding: 20px;
}

.routes-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

h2 {
  text-align: center;
}
