/* Asegurando que los estilos sean específicos de UsersManagement */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.UserManagement.body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("Images/Mecanicos-certificados-en-nuestras-marcas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  color: white;
  padding: 10vh;
}

.error-message-user {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding: 8px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  left: 0;
  transform: translateY(100%);
  z-index: 1;
  max-width: 200px; /* Establece un ancho máximo para el mensaje */
  white-space: normal; /* Permite que el texto se ajuste a múltiples líneas */
  word-wrap: break-word; /* Ajusta las palabras largas */
}

.error-message-user::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f5c6cb;
}
.users-management-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  gap: 0vh;
}

.users-management-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-left: 8px;
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
  color: #ffebcd;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.users-management-container form input,
.users-management-container form select {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.filter-container {
  flex-direction: column;
  min-width: 35%;
  position: sticky;
  top: 20px; /* Distancia desde la parte superior */

  left: 20vh;
}

.users-management-container.add-button {
  padding: 12px 25px;
  background-color: #f38dc8;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s;
}

.users-management-container.edit-button {
  padding: 12px 25px;
  background-color: #525252;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s;
}

.users-management-container.add-button:hover {
  background-color: #f38dc8;
  transform: translateY(-2px);
}

.users-management-container.edit-button:hover {
  background-color: #7c7a7a;
  transform: translateY(-2px);
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  margin-left: 12px;
  padding-top: 70px;
}

.user-card {
  background-color: #f38dc8af;
  padding: 20px;
  border: 1px solid #f38dc8af;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.user-card p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 1rem;
}

.user-card button {
  margin-right: 10px;
  background-color: #e23d9d;
  font-size: 14px;
  height: 50px;
  width: 100px;
  border-radius: 15%;
}

.btn-cancelar-usuarios {
  background-color: grey;
}
.btn-cancelar-usuarios:hover {
  background-color: darkgrey;
}
.btn-cancelar-usuarios:disabled {
  background-color: #cccccc00;
  color: #cccccc00;
  cursor: default;
}

.filtros-usuarios {
  position: sticky;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 70%;
  margin-left: 10px;
  margin-top: 70px;
  top: 60px;
}
.filtros-usuarios input,
select {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.filtros-usuarios label {
  font-size: 1.8rem;
  color: #ffebcd;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

@media (max-width: 1200px) {
  .filter-container {
    width: 56px;
  }
  .filtros-usuarios {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .users-management-container {
    flex-direction: column;
    position: static;
    padding: 15px;
    margin-top: 1px;
    max-width: 90%; /* Para que se ajuste mejor en móviles */
    gap: 10px;
    align-items: center;
  }

  .users-management-container .title {
    font-size: 1.8rem;
  }

  .users-management-container .drivers-search-input {
    width: 100%; /* Input de búsqueda a lo ancho del contenedor */
  }

  .users-list {
    margin-top: -40px;
    order: 3;
  }

  .users-management-container .add-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .users-management-container .users-card {
    font-size: 0.9rem;
    max-width: 100%;
  }

  .users-management-container .users-card p {
    font-size: 0.85rem;
  }

  .users-management-container .search-container {
    flex-direction: column; /* Cambiamos el layout a columna en móviles */
    gap: 10px; /* Reducimos el gap entre los inputs */
  }
  .filter-container {
    order: 1;
    flex-direction: column;
    min-width: 300px;
    position: initial;
    top: 70px; /* Distancia desde la parte superior */
    left: 10vh; /* Distancia desde la derecha */
  }
  .filtros-usuarios {
    order: 2;
    padding: 10px;
    background-color: #f38dc863;
    border-radius: 1cm;
    margin-top: 20px;
    position: static;
    display: flex;
  }
}

@media (max-width: 480px) {
  .users-management-container .title {
    font-size: 1.5rem;
    margin-left: 8px;
  }

  .users-management-container .users-card {
    padding: 15px;
    font-size: 0.85rem;
  }

  .users-management-container .add-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
